body {
  height: 100vh;
  /* background-color: black; */
}

#services {
  background-image: url("../../assests//homebg_scnd.png");
  background-size: cover;
}

.service_icon img {
  height: 2em;
  width: 2em;
  /* background-color: aquamarine; */
}

/* .services_all {
  display: flex;
  width: 100%;
  gap: 3%;
  padding: 2%;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.service_card {
  background-color: white;
  padding: 2.5%;
  max-width: 28%;
  border-radius: 2em;
  box-shadow: 30px 30px 16px -16px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
} */
.service_icon {
  /* background-color: antiquewhite; */
  width: fit-content;
  border-radius: 50%;
  padding: 0.5em;
  box-shadow: inset 20px -20px 16px -16px rgba(0, 0, 0, 0.1);
}

.service_name {
  font-size: x-large;
  margin: 4% 0;
  font-weight: 500;
  letter-spacing: 1px;
}

.service_disc {
  margin-bottom: 6%;
  text-align: justify;
}

.service.url {
  text-align: right;
  margin-top: 10%;
}

button.service_btn {
  border: none;
  padding: 3% 15%;
  background-color: coral;
  border-radius: 2em;
  /* color: black; */
}

button.service_btn a {
  color: white;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.service_card:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.06);
}

.services_heading {
  padding-top: 1em;
  text-align: center;
  font-size: xx-large;
}

.services_all {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
  padding: 2em;
}

.service_card {
  background-color: white;
  padding: 2em;
  width: 100%;
  border-radius: 2em;
  box-shadow: 30px 30px 16px -16px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  /* padding: 2em; */
}

@media screen and (max-width: 800px) {
  .services_all {
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }

  #services {
    background-image: url("../../assests/services_sm_bg.png");
    background-size: cover;
    /* height: 400vh; */
  }
}

@media screen and (max-width: 580px) {
  .services_all {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .service_card {
    padding: 1em;
  }

  #services {
    height: 420vh;
  }
}

@media screen and (max-width: 400px) {
  .services_all {
    grid-template-columns: 1fr;
    padding: 0.5em;
  }


}