.values_header {
    width: 100%;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 600;

}

.values {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* margin-top: 2%; */
    grid-gap: 1em;

}

.abc {
    /* background-image: radial-gradient(circle farthest-corner at 1.3% 2.8%,
            rgba(239, 249, 249, 1) 0%,
            rgba(182, 199, 226, 1) 100.2%); */
    background-color: #f8fafc;
    padding: 3% 1%;
    border-top: 2px solid #E8E6E6;
    border-bottom: 2px solid #E8E6E6;
}

.val_num {
    font-size: 2.5em;
    text-align: left;
    color: #655DBB;
    font-weight: 500;
}

.value_title {
    font-size: 15px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 400;
    color: #434141;

}

/* new */
.value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

@media screen and (max-width:1024px) {
    .values.container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:768px) {
    .values.container {
        grid-template-columns: 1fr 1fr;
    }

    .values_header {
        font-size: 1.5em;
    }
}

@media screen and (max-width:450px) {
    .values.container {
        grid-template-columns: 1fr;
    }
}