.lines_pls.staffingServ {
    margin-bottom: 5%;
}

/* new */
.sass_exp.container_new {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    padding-bottom: 5%;
}

.ad_icon.ad_icon_new img {
    width: 100%;
}

.ad_icon.ad_icon_new img {
    width: 10em;
    height: 6em;
}

@media screen and (max-width: 760px) {
    .sass_exp.container_new {
        grid-template-columns: 1fr;
        margin-bottom: 4%;
    }
}