.creo_page {
  /* background-color: black; */
  /* color: white; */
  width: 100%;
  /* height: 100vh; */
  background-color: #f8fafc;
}

.first_cnt {
  background-image: url("../../assests//creo_bg.png");
  background-size: cover;
  background-repeat: round;
  height: 96vh;
  position: relative;
  z-index: 1;
}

/* .first_cnt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
    filter: opacity(0.75);
  z-index: -1;
} */

.creo_info {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
}

.creo_img {
  width: 40%;
}

.creo_img img {
  width: 100%;
  filter: drop-shadow(8px 0px 10px #ffffff);
}

.creo_header {
  font-size: 3.5em;
  font-weight: 500;
}

.creo_gen_info {
  font-size: 1.1em;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 500;
  margin-top: 0.25em;
}

.contactusCreo button {
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  margin-top: 1.5em;
  background-color: #0EA5E9;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.contactusCreo button a {
  color: white;
}

.ben_crio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-top: 6%;
  padding-bottom: 2%;
}

.ben_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.creo_img_abt {
  width: 100%;

}

.ben_header {
  font-size: 2em;
  text-align: center;
  color: #475569;
  font-weight: 500;
  letter-spacing: 1px;
}

.performance {
  border: 1px solid #CBD5E1;
  padding: 6%;
  border-radius: 12px;
}

.borderImg {
  display: flex;
  justify-content: center;
}

.ben_info {
  margin-top: 2%;
  text-align: justify;
}

.benifits {
  margin-top: 6%;
  text-align: left;
  font-size: 2.2em;
  font-weight: 500;
  letter-spacing: 1px;
  color: #655DBB;
}

.creo_cnt {
  color: #64748B;
  font-size: 16px;
  text-align: justify;
  margin-top: 2%;
}

.beniCnt {
  background-color: #f3f7fe;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-bottom: 2%;
  /* padding-right: 2%; */
}

.creo_scndimg {
  display: none;
}

.beniUp {
  display: flex;
  align-items: end;
  gap: 8%;
}

@media screen and (max-width: 770px) {
  .ben_crio {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5em;
  }

  .creo_img {
    display: none;
  }

  img.creo_scndimg {
    display: block;
    width: 30%;
    /* height: 50%; */
    /* display: flex; */
    /* justify-content: center; */
  }

  .creo_img_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .creo_info.container {
    width: 100%;
  }

  .creo_gen_info {
    /* font-size: medium; */
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  .creo_info.container {
    width: 100%;
  }

  .ben_crio {
    grid-template-columns: 1fr;
  }

  .beniUp {
    flex-direction: column;
  }

  .creo_info {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .head_creo {
    font-size: xx-large;
  }

  .creo_gen_info {
    font-size: medium;
    font-weight: 400;
  }

  .first_cnt {
    height: 90vh;
  }

  .ben_crio {
    margin-top: 14%;
    padding-bottom: 10%;
  }
}

/*  */
.frth_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 80vh;
}

.wnew_cnt {
  width: 54%;
}

.video-responsive {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.wnewheader {
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  /* font-weight: 500; */
  color: #35656d;
}

.wnewtcnt {
  font-size: 1.1em;
  text-align: justify;
}

.fth_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-direction: row-reverse;
  padding: 4% 0;
  margin-top: 4%;
  background-color: #f3f7fe;
}

.fth_img {
  width: 44%;
  display: flex;
  justify-content: center;
}

.fth_txt_cnt {
  width: 64%;
  padding-right: 4%;
}

.fth_img img {
  width: 64%;
  /* height: 50%; */
}

.fth_header {
  font-size: 28px;
  text-align: justify;
  margin-bottom: 1em;
  letter-spacing: 1px;
  font-weight: 500;
  color: #5056C9;
}

.fth_info {
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #64748B;
}

/* V222222222222222222222222 */
div#whats_new_creo {
  padding-top: 12%;
  background-color: #f8fafc;
}

div#creo_benifits {
  padding-top: 10%;
  background-color: #f8fafc;
}

/*  v3333*/

@media screen and (max-width: 770px) {
  .frth_cnt {
    flex-direction: column;
    height: 100vh;
  }

  .video-responsive {
    width: 100%;
    height: 100vh;
  }

  .wnew_cnt {
    width: 100%;
  }

  .fth_cnt.container {
    flex-direction: column;
  }

  .fth_txt_cnt {
    width: 100%;
  }

  .fth_img {
    width: 66%;
  }

  .creo_cnt {
    font-size: medium;
  }
}

@media screen and (max-width: 500px) {
  .video-responsive {
    width: 100%;
    height: 100vh;
  }

  .frth_cnt {
    padding-top: 5%;
    height: 100vh;
  }

  .wnewheader {
    font-size: 1.75em;
    text-align: center;
  }

  .wnewtcnt {
    font-size: medium;
  }

  .fth_header {
    margin-top: 10%;
    font-size: 1.5em;
  }

  .fth_info {
    font-size: medium;
  }

  .fth_img {
    width: 100%;
  }

  .benifits {
    font-size: 1.5em;
  }

  .ben_header {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 300px) {
  .frth_cnt {
    margin-top: 30%;
  }

  .fth_header {
    font-size: 1.35em;
    margin-top: 40%;
  }
}


/*  */
button#enhance_btn {
  background-color: transparent;
  padding: 12px 16px;
  color: #4E54C8;
  border: 2px solid #4E54C8;
  border-radius: 12px;
  letter-spacing: 1px;
  font-weight: 550;
}

button#enhance_btn:hover {
  color: white;
  background-color: #4E54C8;
  transition: 0.75s;
}

.compositions.inverted .compo_cnt {
  text-align: left;
}

.compositions.inverted .new_cnt {
  text-align: left;
}

.compositions.inverted .creo_enhance {
  justify-content: start;
}

.creo_enhance {
  margin-top: 1.5%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.whats_new_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_new {
  padding-top: 2%;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #374151;
}

.lines {
  content: "";
  width: 25%;
  height: 4px;
  color: red;
  background-color: #655DBB;
  border-radius: 8px;
}

.compositions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 1em; */
  grid-gap: 1%;
  height: 60vh;
  /* margin: 0.5em 0; */
  margin-top: 6%;
}

.compo_img img {
  width: 90%;
}

.compo_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_header {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 550;
  background: linear-gradient(90.12deg, #4E54C8 2.09%, #8F94FB 99.08%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  /* color: linear-gradient(90.12deg, #4E54C8 2.09%, #8F94FB 99.08%); */
}


img.extraImgCls {
  position: absolute;
  right: 0;
  /* top: unset; */
}

.compositions.notInv .compo_cnt {
  text-align: right;
}

.new_cnt {
  text-align: right;
  margin-top: 1.5%;
  font-size: 18px;
}

.compo_cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width:768px) {
  .compositions.inverted {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5em;
    margin-top: 6%;
  }

  .compositions {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1.5em;
    margin-top: 6%;
  }
}

@media screen and (max-width:768px) {
  iframe {
    height: 44%;
  }

  .new_header {
    text-align: center;
  }

  .new_cnt {
    text-align: justify;
  }

  .creo_enhance {
    justify-content: center;
  }

  .compositions.inverted .new_cnt {
    text-align: justify;
  }

  .compositions.inverted .creo_enhance {
    justify-content: center;
  }
}

@media screen and (max-width:450px) {
  .new_header {
    font-size: 1.5em;
  }

  .header_new {
    font-size: 1.75em;
    /* letter-spacing: 0; */
  }

  .lines {
    width: 50%;
  }

  button#enhance_btn {
    letter-spacing: 0;
  }
}