

.creo_page {
  /* background-color: black; */
  /* color: white; */
  width: 100%;
  /* height: 100vh; */
}
.first_cnt {
  background-image: url("../../assests/cd_creo_bg.webp");
  background-size: cover;
  background-repeat: round;
  height: 96vh;
  position: relative;
  z-index: 1;
}

.first_cnt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(6px);
  z-index: -1;
}

.creo_info {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
}
.creo_img {
  width: 40%;
}
.creo_img img {
  width: 100%;
  filter: drop-shadow(8px 0px 10px #ffffff);
}
.glassefct {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* backdrop-filter: blur(6px) saturate(181%);
  -webkit-backdrop-filter: blur(6px) saturate(181%);
  background-color: rgba(255, 255, 255, 0.1); */
}

.creo_header {
  font-size: 3.5em;
  font-weight: 500;
}
.creo_gen_info {
  font-size: 1.1em;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 500;
  margin-top: 0.25em;
}
.contactus button {
  padding: 10px 24px;
  border: 2px solid darkgreen;
  border-radius: 10px;
  margin-top: 1.5em;
  background-color: black;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}
.contactus button a {
  color: white;
}
.ben_crio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-top: 6%;
  padding-bottom: 2%;
}
.ben_img {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 6%;
  align-items: center;
}
img.creo_img_abt {
  width: 12%;
  /* height: 15%; */
  color: #20717d;
  filter: drop-shadow(12px 0px 4px);
}
.ben_header {
  font-size: 2em;
  text-align: center;
  color: #20717d;
  font-weight: 500;
  letter-spacing: 1px;
}
.ben_info {
  margin-top: 2%;
  text-align: justify;
}
.benifits {
  margin-top: 6%;
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  letter-spacing: 1px;
  color: #35656d;
}
.creo_cnt {
  color: #000000cc;
  font-size: 1.15em;
  text-align: justify;
  margin-top: 2%;
}
.creo_scndimg {
  display: none;
}
@media screen and (max-width: 770px) {
  .ben_crio {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5em;
  }
  .creo_img {
    display: none;
  }
  img.creo_scndimg {
    display: block;
    width: 30%;
    /* height: 50%; */
    /* display: flex; */
    /* justify-content: center; */
  }
  .creo_img_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .creo_info.container {
    width: 100%;
  }
  .creo_gen_info {
    /* font-size: medium; */
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  .creo_info.container {
    width: 100%;
  }
  .ben_crio {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .head_creo {
    font-size: xx-large;
  }
  .creo_gen_info {
    font-size: medium;
    font-weight: 400;
  }
  .first_cnt {
    height: 90vh;
  }
  .ben_crio {
    margin-top: 14%;
    padding-bottom: 10%;
  }
}

/*  */
.frth_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 80vh;
}
.wnew_cnt {
  width: 54%;
}
.video-responsive {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.wnewheader {
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  /* font-weight: 500; */
  color: #35656d;
}
.wnewtcnt {
  font-size: 1.1em;
  text-align: justify;
}
.fth_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-direction: row-reverse;
  padding-top: 14%;
}
.fth_img {
  width: 44%;
  display: flex;
  justify-content: center;
}
.fth_txt_cnt {
  width: 64%;
}
.fth_img img {
  width: 64%;
  /* height: 50%; */
}
.fth_header {
  font-size: 1.75em;
  text-align: justify;
  margin-bottom: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  color: #35656d;
}
.fth_info {
  font-size: 1.05em;
  text-align: justify;
  letter-spacing: 0.5px;
}
/* V222222222222222222222222 */
div#whats_new_creo {
  padding-top: 12%;
}
div#creo_benifits {
  padding-top: 10%;
}
/*  v3333*/

@media screen and (max-width: 770px) {
  .frth_cnt {
    flex-direction: column;
    height: 100vh;
  }
  .video-responsive {
    width: 100%;
    height: 100vh;
  }
  .wnew_cnt {
    width: 100%;
  }
  .fth_cnt.container {
    flex-direction: column;
  }
  .fth_txt_cnt {
    width: 100%;
  }
  .fth_img {
    width: 66%;
  }
  .creo_cnt {
    font-size: medium;
  }
}
@media screen and (max-width: 500px) {
  .video-responsive {
    width: 100%;
    height: 100vh;
  }
  .frth_cnt {
    padding-top: 5%;
    height: 100vh;
  }
  .wnewheader {
    font-size: 1.75em;
    text-align: center;
  }
  .wnewtcnt {
    font-size: medium;
  }
  .fth_header {
    margin-top: 10%;
    font-size: 1.5em;
  }
  .fth_info {
    font-size: medium;
  }
  .fth_img {
    width: 100%;
  }
  .benifits {
    font-size: 1.5em;
  }
  .ben_header {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 300px) {
  .frth_cnt {
    margin-top: 30%;
  }
  .fth_header {
    font-size: 1.35em;
    margin-top: 40%;
  }
}


/*  */
button#enhance_btn {
    background-color: black;
    padding: 12px 16px;
    color: white;
    border: 2.5px solid #68c04a;
    border-radius: 12px;
    letter-spacing: 1px;
    font-weight: 550;
}
.creo_enhance {
    margin-top: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whats_new_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_new {
    padding-top: 2%;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1f84c7;
}
.lines {
    content: "";
    width: 25%;
    height: 4px;
    color: red;
    background-color: #85c0e8ad;
}
.compositions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 1em; */
    height: 80vh;
}
.compo_img img {
    width: 90%;
}
.compo_img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new_header {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 550;
    color: #356585;
}
.new_cnt {
    text-align: justify;
    margin-top: 1.5%;
    font-size: 1.1em;
}
.compo_cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width:768px){
    .compositions.inverted {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5em;
    margin-top: 6%;
}
.compositions {
    display: flex;
    flex-direction: column;
    height: auto;
     gap: 1.5em;
    margin-top: 6%;
}
}
@media screen and (max-width:500px){
    iframe {
    height: 44%;
}
.frth_cnt.container {
    height: auto;
}
.video-responsive {
    height: auto;
}
.frth_cnt.container {
    height: auto;
}

}

@media screen and (max-width:450px){
    .new_header {
    font-size: 1.5em;
}
.header_new {
    font-size: 1.75em;
    /* letter-spacing: 0; */
}
.lines {
    width: 50%;
}
button#enhance_btn{
    letter-spacing: 0;
}
}