.home_img_block.slm_home {
    display: none;
}

.head_home.slm_home {
    color: black;
}

.home_gen_info.slm_home {
    color: black;
}

.home_compo_img.slm_home img {
    width: 90%;
    /* justify-content: center; */
}

div#value_slm {
    padding-top: 6%;
}

.sass_newUp {
    padding: 0 12%;
}