#hero_home {
    background-image: url("../../assests/homeF.png");
    background-size: cover;
    height: 100vh;
    background-position: bottom;
}

#hero_home2 {
    background-image: url("../../assests/homeF2.png");
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero_home3 {
    background-image: url("../../assests/homeF3.png");
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero_home4 {
    background-image: url("../../assests/homeF4.png");
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero_home5 {
    background-image: url("../../assests/homeF5.png");
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero_altrCnt {
    margin-left: 14%;
}

.altairProdH {
    /* width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
    font-size: 38px;
    letter-spacing: 3px;
    margin-bottom: 1%;
    font-weight: 600;
}

.altrProdCnt {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.hero_cnt {
    width: 50%;
    /* padding-top: 4%; */
}

.hero_img {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.hero_img img {
    width: 80%;
}

.hero_tag {
    font-size: 2em;
    width: 70%;
    letter-spacing: 1px;
    font-weight: 700;
    color: #0369A1;
}

.hero_line {
    content: "";
    width: 45%;
    height: 8px;
    background-color: #4fb461;
    border-radius: 5px;
    margin: 2em 0;
}

.hero {
    padding: 0 6%;
    padding-left: 10%;
}

.hero_1 {
    margin-top: 4%;
    font-size: 1.4em;
    color: #475569;
    /* margin-top: 8%; */
    /* font-weight: 550; */
}

#expertise {
    color: #16A34A;
    /* font-size: 1.1em; */
}

.services_hero {
    font-size: 1.5em;
    letter-spacing: 1px;
    /* font-weight: 500; */
    color: #2084c2;
}

a.knowmore {
    padding: 12px 24px;
    background-color: #2084c2;
    border-radius: 2em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.knowmore {
    padding-top: 6%;
}

@media only screen and (max-width:770px) {
    .hero_img {
        display: none;
    }

    .hero_cnt {
        width: 100%;
        text-align: center;
    }

    .hero_tag {
        width: 100%;
        text-align: center;
    }

    .hero_line_header {
        width: 100%;
        /* text-align: center; */
        display: flex;
        justify-content: center;
    }

    .hero_line {
        width: 64%;
    }
}

@media only screen and (max-width:450px) {
    .hero_tag {
        font-size: 2em;
    }

    .hero_line {
        margin: 1.25em;
    }

    .services_hero {
        margin: 0.5em;
    }

    .hero_1 {
        font-size: 1.4em;
    }
}