body {
  height: 100vh;
  /* background-color: black; */
  background-color: #f2f2f2;
}

div#about {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
  height: 100vh;
}

.about_img {
  width: 46%;
  display: flex;
  justify-content: center;
  padding-left: 1em;
}

.about_data {
  width: 54%;
}

.about_img img {
  /* height: 100%; */
  width: 80%;
  border-radius: 1em;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.about_data {
  width: 54%;
  padding: 1em 1em 1em 2em;
  text-align: justify;
  background-color: #f3f7fe;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 4em;
}

.about_header {
  font-size: x-large;
  font-weight: 450;
  letter-spacing: 2px;
  color: #0040fca6;
}

.boost {
  font-size: x-large;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 0.5em;
  color: #655DBB;
}

.about_text {
  font-size: large;
  margin-top: 1.5em;
  color: #64748B;
}

@media screen and (max-width: 800px) {
  .boost {
    font-size: x-large;
  }
}

@media screen and (max-width: 620px) {
  .about_img {
    display: none;
  }

  .about_data {
    width: 100%;
  }
}

@media screen and (max-width: 325px) {
  .about_data {
    padding: 1em;
    text-align: inherit;
  }

  .about_header {
    font-size: larger;
  }

  .boost {
    font-size: large;
  }

  .about_text {
    font-size: medium;
  }
}

/*  */

.years_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.data_details {
  display: flex;
  /* gap: 1em; */
  padding: 1em;
}

.cients_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

span.clients {
  font-size: xx-large;
  font-weight: 500;
  background: linear-gradient(90.12deg, #4E54C8 2.09%, #8F94FB 99.08%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

span.years {
  font-size: xx-large;
  font-weight: 500;
  background: linear-gradient(90.12deg, #4E54C8 2.09%, #8F94FB 99.08%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

span.year_text,
.clients_text {
  font-size: larger;
  font-weight: 500;
  color: #6B7280;
}

@media screen and (max-width: 900px) {
  .landing_img {
    display: none;
    width: 0;
  }

  .landing_data {
    width: 100%;
  }

  .years_header {
    text-align: center;
  }

  span.year_text,
  .clients_text {
    font-size: larger;
    font-weight: 500;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .data_headder {
    font-size: xx-large;
  }

  .data_text {
    font-size: medium;
  }

  span.years,
  .clients {
    font-size: x-large;
  }

  span.clients {
    font-size: x-large;
  }
}

@media screen and (max-width: 450px) {
  .landing_data {
    text-align: justify;
  }

  .landing {
    padding: 1em;
    align-items: baseline;
    padding-top: 25%;
  }

  .data_headder {
    font-size: x-large;
  }

  .data_text {
    font-size: small;
  }

  span.years,
  .clients {
    font-size: large;
  }

  span.clients {
    font-size: large;
  }

  span.year_text,
  .clients_text {
    font-size: inherit;
    font-weight: 500;
  }
}

@media screen and (max-width:400px) {
  .data_details {
    display: block;
  }

  .years_header {
    width: 100%;
    text-align: center;
  }

  .cients_header {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .landing {
    padding: 0.5em;
    align-items: baseline;
    padding-top: 28%;
  }

  .data_headder {
    font-size: large;
  }

  .data_text {
    font-size: small;
  }

  span.years,
  .clients {
    font-size: medium;
  }

  span.clients {
    font-size: medium;
  }

  span.year_text,
  .clients_text {
    font-size: inherit;
    font-weight: 500;
  }

  .years_header {
    width: 100%;
    margin-bottom: 1em;
  }

  .cients_header {
    width: 100%;
  }
}