.contactPage {
  width: 100%;
  height: 100vh;
  background-image: url("../../assests/Home/ContactBg.svg");
  background-size: cover;
  /* background-color: rgb(255, 0, 234); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerContact {
  width: 100%;
  padding: 0 6%;
  /* width: calc(100% - 50px); */
}

.cmpyAddress {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}

.cmpydtls {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.compyCnt {
  width: 60%;
}

.ourAddress,
#contactHeader {
  color: #374151;
  font-weight: 800;
  font-size: 2.25em;
  margin-bottom: 4%;
}

.cmpadd.cmpadd2 {
  margin-top: 5%;
}

/* .inputLabel {
  display: flex;
  flex-direction: column;
  width: fit-content;
} */
.contactdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5em;
}

input[type="text"] {
  width: -webkit-fill-available;
  margin-bottom: 1em;
  /* background: #3c3e43; */
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: white;
}

input[type="email"] {
  width: -webkit-fill-available;
  margin-bottom: 1em;
  /* background: #3c3e43; */
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: white;
}

textarea[type="text"] {
  width: -webkit-fill-available;
  margin-bottom: 1em;
  /* background: #3c3e43; */
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: white;
}

.submitbtn button {
  /* display: flex; */
  float: right;
  padding: 10px 28px;
  border: none;
  background-color: #075985;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.cmpadd {
  display: flex;
  /* margin-top: 10%; */
  width: 60%;
  gap: 10%;
  align-items: center;
}

.cntimgs {
  background: aliceblue;
  /* width: 60%; */
  /* height: 3em; */
  padding: 0.5em;
  border-radius: 50%;
}

@media only screen and (max-width: 950px) {
  .containerContact {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 768px) {
  .contactPage {
    height: auto;
    padding: 4% 0;
  }

  .cmpyAddress {
    flex-wrap: wrap;
  }

  .cmpydtls {
    width: 100%;
  }

  .compyCnt {
    width: 100%;
  }

  .compyCnt {
    margin-top: 4%;
  }
}

@media only screen and (max-width: 450px) {
  #contactHeader {
    font-size: x-large;
  }
}

@media only screen and (max-width: 300px) {
  .containerContact {
    margin-top: 25%;
  }
}