.bottom_nav {
    display: grid;
    grid-template-columns: 1fr 1.25fr 0.75fr;
    gap: 2em;
    padding: 4% 0;
}

.company_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
}

.company_logo img {
    width: 100%;
}

.visit {
    text-align: left;
    font-size: 1.12em;
    letter-spacing: 1px;
}

.visitHeader {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 4%;
}

.follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.bottom_nav {
    background-color: black;
    color: white;
    /* padding-top: 4%; */
}

.follow_cmpy {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

/*  */
.chnlpartnr_img {
    display: flex;
    gap: 2.5em;
    /* height: 1em; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img_prtr img {
    width: 100%;
}

.img_prtr {
    width: 50%;
}

.follow_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channelptr {
    margin-bottom: 1em;
    font-size: 2em;
}

.visit {
    padding-left: 1em;
}

.chnlpartner_tot {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* gap: 1em; */
}

@media screen and (max-width: 770px) {
    .bottom_nav {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .follow_nav {
        padding-left: 1em;
        align-items: flex-start;
    }

    .chnlpartnr_img {
        padding-left: 1em;
        gap: 2.5em;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .chnlpartner_tot {
        padding-left: 1em;
        align-items: flex-start;
    }

}

@media screen and (max-width: 400px) {
    .company_logo {
        display: none;
    }

    .follow_nav {
        padding-left: 0;
        margin-bottom: 1em;
    }

    .bottom_nav {
        grid-template-columns: 1fr;
        padding: 0 12%;
        width: 100%;
    }

    .visit {
        padding-top: 6%;
        padding-left: 0;
    }

    .chnlpartner_tot {
        padding-left: 0;
    }
}