.bottom_nav {
    display: grid;
    grid-template-columns: 0.65fr 1.25fr 0.65fr;
    gap: 2em;
    /* background-image: url("../../assests/BottomNav.svg"); */
    background: linear-gradient(180deg, #29323C 0%, #485563 100%);
    background-repeat: no-repeat;
    height: max-content;
    color: white;
}

img.cmpyImgL {
    width: 100%;
}

.solTlt {
    font-size: 14px;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.cmpySolu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 6% 0;
    align-items: baseline;
}

.cmpyChnlPrts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 6% 0;
    align-items: flex-start;
}

.chnls {
    margin: 4% 0px;
}

.chnls {
    display: flex;
    justify-content: space-between;
    gap: 8%;
    width: 100%;
}

.socilaLinks {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 6%;
}

.cmpyLogo {
    padding: 6% 0;
    display: flex;
    /* width: 97%; */
    justify-content: center;
    align-items: center;
}

.borderH {
    background: antiquewhite;
    width: 1px;
    height: 24%;
    position: absolute;
    left: 29.5%;
}

.borderHL {
    background: antiquewhite;
    width: 1px;
    height: 24%;
    position: absolute;
    left: 70%;
}

@media screen and (max-width: 770px) {
    .bottom_nav.container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {}