.info_header {
    font-size: 2.5em;
    text-align: center;
    margin: 3% 0;
    color: #356d3c;
    font-weight: 600;
    letter-spacing: 1px;
}

.info_rev {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    flex-direction: row-reverse;
    margin-bottom: 5%;
}

.info {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 5%;
}

.info_cnt {
    width: 50%;
}

.info_title_header {
    font-size: 2em;
    font-weight: 550;
    letter-spacing: 1px;
    color: #35656d;
}

.info_cnt_txt {
    margin: 2% 0;
    font-size: 1.15em;
}

.info_img {
    width: 50%;
}

.info_img img {
    width: 100%;
    border-radius: 12px;
}

@media screen and (max-width: 340px) {
    .info_header {
        font-size: 2em;
        margin-top: 4%;
    }
}

@media screen and (max-width: 450px) {
    .info_title_header {
        font-size: 1.5em;
        margin: 4% 0;
    }

    .info_img {
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    .info_header {
        margin: 1% 0 0 0;
    }

    .info_rev,
    .info {
        flex-direction: column;
        width: 100%;
    }

    .info_img {
        width: 70%;
    }

    .info_cnt {
        width: 100%;
    }

    .info_title_header {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .info_title_header {
        font-size: 1.65em;
    }

    .info_cnt_txt {
        font-size: 1em;
    }
}