div#framework_windchillV2 {
    padding: 0 12%;
    padding-bottom: 6%;
}

.onshape_fea_headerV2 {
    font-size: 32px;
    color: #655DBB;
    text-align: center;
    padding: 2% 0;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion-body {
    color: #475569;
}

button.accordion-button {
    font-size: 20px;
    color: #111827;
    letter-spacing: 1px;
}