.home_gen_info.windchill {
    color: #000000e6;
}

.head_home.windchill {
    color: black;
}

div#value_windchill {
    background-color: #f8fafc;
    padding-top: 12%;
}

div#introduction_windchill {
    padding-top: 6%;
}

/*  */
.onshape_features.container.features_vuforia {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.fea_headers.features_vuforia {
    flex-direction: column;
}

.features_vuforia img {
    width: 36%;
}

/* .features.container {
    padding-top: 12%;
} */
div#products_vuforia {
    padding-top: 12%;
    background-color: #f8fafc;
}

.products_vuforia.info_title_header {
    background: linear-gradient(90.12deg, #4E54C8 2.09%, #8F94FB 99.08%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
}

@media screen and (max-width:780px) {
    .onshape_features.container.features_vuforia {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:450px) {
    .onshape_features.container.features_vuforia {
        grid-template-columns: 1fr;
    }
}