img.checkmark {
  width: 1em;
  /* height: 100%; */
  /* padding-top: 12%; */
}

td {
  text-align: center;
  vertical-align: middle;
}

.creo_table.container {
  padding-top: 8%;
  background: linear-gradient(180deg, #ACCBEE 0%, #16222A 100%);
}

.table_header {
  font-size: 2.5em;
  text-align: center;
  padding: 2% 0;
  letter-spacing: 3px;
  font-weight: bold;
  color: #FFFFFF;
}

th {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .table_header {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 350px) {
  td {
    font-size: 0.75em;
  }

  th {
    font-size: 0.8em;
  }
}